body{
  background-color: white;
}
h1{
  font-family: Helvetica;
  font-size: 60px;
  text-align: center;
  background-color: SeaGreen;
  opacity: 0.5;
  color: white;
  border:1px solid SeaGreen (22, 77, 100);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header{
  font-family: Georgia;
}
.rules{
  font-family: Helvetica;
  letter-spacing: 1px;
  text-align: left;
  border: 2px solid SeaGreen (22, 77, 100);
  border-radius: 9px;
  background-color: beige;
  opacity: 0.9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 30px;

}

.colorbackground{
  background-color: SeaGreen;
  opacity: 0.8;
  border: 3px solid black  (22, 77, 100);
  border-radius: 9px;
}
.left {
  display: block;
  justify-content: space-around;
  border:1px solid black (22, 77, 100);
  border-radius: 9px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right {
  display: block;
  justify-content: space-around;
  border:1px solid black (22, 77, 100);
  border-radius: 9px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center{
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

#total{
  font-size: 60px;
}


@media screen and (max-width: 600px){
  .left {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;

  }
  .right {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
  }
  h1{
    font-size: 25px;
  }
}

button{
  width: 100px;
  height: 80px;
  background-color: #FFE4C4;
}
